* {
  box-sizing: border-box;
  font-family: "Yanone Kaffeesatz", sans-serif;
}
html,
body {
  overflow: hidden;
  height: 100%;
}
section {
  font-size: 20px;
  text-align: center;
  min-height: 200px;
}
.loadingScreen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.5);
}
.loader {
  position: relative;
  top: 35vh;
  left: 45vw;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #102242; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
.loaded {
  overflow: auto;
  height: auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.myName {
  text-shadow: 2px 2px #000000;
}
.jobTitle {
  text-shadow: 2px 2px #000000;
}
.text-center {
  text-align: center;
}
.mainHeader {
  background-image: url("../images/header-image.jpg");
  background-repeat: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.mainHeader,
.sectionHeader {
  font-weight: bold;
  color: white;
}
.sectionHeader,
.modal-title {
  font-size: 32px;
  color: black;
}
.modal-dialog {
  min-width: 640px;
}
.sectionHeader {
  text-align: left;
  border-bottom: 1px dotted black;
  margin-bottom: 20px;
  text-indent: 30px;
}
.portfolioSection {
  text-align: left;
}
/*article{
	margin-bottom: 20px;
}*/
article > header {
  font-size: 28px;
}
.mainContent,
.mainHeader {
  padding: 20px;
  padding-bottom: 0px;
}
.mainContent > section {
  margin-bottom: 20px;
}
.mainContent > section:last-child {
  margin-bottom: 0;
}
.mainFooter {
  padding-left: 20px;
  padding-right: 20px;
  /*position: absolute;
	margin-top: -20px;
	z-index: -1;*/
  width: 100%;
}
.popOutFooter {
  /*margin-top: 0;
	z-index: 1;*/
}
.resumeHeader,
.iframeContainer {
  text-align: center;
}
.myName {
  font-size: 64px;
}
.jobTitle {
  font-size: 32px;
}
.navListHorizontal {
  list-style: none;
  font-size: 0;
  text-align: center;
  height: 60px;
  border-bottom: 1px solid black;
  margin-top: -60px;
  background-color: black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.navListItem {
  display: inline-block;
  font-size: 28px;
  margin-left: 20px;
  /*padding-top: 10px;
	padding-bottom: 10px;*/
  line-height: 60px;
  color: white;
  min-width: 85px;
}
.navListItem:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
/*.navListItem:hover{
	background-color: white;
	color: black !important;
	min-width: 82px;
}*/
/*.navListItem > a{
	display: block;
	text-decoration: none !important;
	color: white;
	min-width: 85px;
}*/
/*.navListItem > a:hover{
	background-color: white;
	color: black;
	cursor: pointer;
    -webkit-transition: background-color .5s;
    -moz-transition:    background-color .5s;
    -ms-transition:     background-color .5s;
    -o-transition:      background-color .5s;
    transition:         background-color .5s;
}*/
.navListItem:first-child {
  margin-left: 0px;
}
.mainFooter {
  height: 60px;
  line-height: 60px;
  border-top: 1px solid black;
}
/*.resumeButton{
	text-align: center;
}*/
.technologyList {
  list-style: none;
  font-size: 0;
  text-align: center;
  padding-left: 0;
}
.navListHorizontal {
  padding-left: 0;
}
.technologyList > li {
  display: inline-block;
  width: 20%;
  /*margin-top: 10px;*/
  margin: 6px;
}
/*.technologyList > li:nth-child(1){
	background-image: url("images/js-logo.png");
}
.technologyList > li:nth-child(2){
	background-image: url("images/express-logo.png");
}
.technologyList > li:nth-child(3){
	background-image: url("");
}
.technologyList > li:nth-child(4){
	background-image: url("");
}
.technologyList > li:nth-child(5){
	background-image: url("");
}
.technologyList > li:nth-child(6){
	background-image: url("");
}
.technologyList > li:nth-child(7){
	background-image: url("");
}
.technologyList > li:nth-child(8){
	background-image: url("");
}
.technologyList > li:nth-child(9){
	background-image: url("");
}
.technologyList > li:nth-child(10){
	background-image: url("");
}*/
.technologyList > li {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 1px solid black;
  line-height: 250px;
}
.technologyList > li > img {
  vertical-align: middle;
  /*border-radius: 50%;
	border: 1px solid black;*/
}
/* Carousel Styles */
#portfolio > .projectsContainer {
  /*width: 210px;
  height: 144px;*/
  /*width: 510px;
  height: 440px;*/
  /*width: 700px;*/
  /*height: 410px;*/
  padding: 0;
  /*padding-top: 40px;*/
  position: relative;
  -webkit-perspective: 1000;
}
#carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
  top: 5px;
}
#carousel figure {
  display: block;
  position: absolute;
  /*width: 186px;
  height: 116px;*/
  width: 386px;
  height: 216px;

  left: 160px;
  top: 100px;
  right: 30px;
  bottom: 30px;
  border: 2px solid black;
}

#carousel figure {
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#carousel figure:nth-child(1) {
  background-image: url("../images/gw2-project-screen.png");
  -webkit-transform: rotateY(0deg) translateZ(144px);
  image-rendering: -webkit-optimize-contrast;
}
#carousel figure:nth-child(2) {
  background-image: url("../images/field-screen.png");
  -webkit-transform: rotateY(120deg) translateZ(144px);
}
#carousel figure:nth-child(3) {
  background-image: url("../images/images-screen.png");
  -webkit-transform: rotateY(240deg) translateZ(144px);
}
.carouselNext,
.carouselPrevious,
.projectDescription {
  position: relative;
  z-index: 9;
}
.carouselNext,
.carouselPrevious {
  margin-top: -50px;
  width: 80px;
}
.projectDescription {
  font-size: 22px;
  /*top: 75px;*/
}
.projectsContainer figure {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 100px;
  width: 100%;
  justify-content: center;
  margin-top: -20px;
}
.projectsContainer figure img {
  height: 363.5px;
  width: 702.5px;
  border: 1px solid black;
  margin-top: 20px;
}
.smallWidthProjects figcaption {
  background-color: rgba(0, 0, 0, 0.5);
  width: 150px;
  border-radius: 0 0 15px 0;
  font-size: 20px;
  color: white;
}
.projectsContainer figcaption {
  background-color: rgba(0, 0, 0, 0.5);
  /*width: 150px;
  float: right;*/
  flex: 1;
  /*width: 400px;*/
  font-size: 20px;
  color: white;
  padding: 15px;
  max-height: 363.5px;
  min-width: 357.5px;
  max-width: 702.5px;
  margin-left: 10px;
  margin-top: 20px;
}
figcaption header {
  font-size: 2em;
}
figcaption header,
figcaption p {
  margin-bottom: 10px;
}
figcaption.oppositeColorsCaption {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}
.bold {
  font-weight: bold;
}
.description {
  /*-webkit-transition: 1s;*/
}
.background {
  text-align: center;
  margin: 0 auto;
  width: 90%;
}
.background,
.technologies {
  margin-bottom: 20px;
}
.background p {
  text-align: left;
  text-indent: 20px;
}
.technologies p {
  width: 90%;
  margin: 0 auto;
}
.fixedNav {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 11;
  margin-top: 0;
  margin-bottom: 0;
}
.githubCaption {
  position: absolute;
  border-radius: 0 0 0 0;
  bottom: 0;
  width: 100%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 1);
  padding-top: 4px;
  padding-bottom: 2px;
}
.githubCaption > a:hover {
  background-color: white;
  border-radius: 15%;
  color: black;
}
.githubCaption > a {
  color: white;
  display: inline-block;
  border-radius: 15px 15px 0 0;
  padding: 3px;
}
.mainFooter {
  text-align: center;
  padding-top: 10px;
  background-color: #6a7892;
  border-bottom: 1px solid black;
}
.mainFooter > ul {
  padding-left: 0;
  font-size: 0;
  list-style: none;
}
.mainFooter > ul > li {
  display: inline-block;
}
.thanksSection {
  height: 200px;
  line-height: 200px;
  border-top: 1px solid black;
  margin-left: -20px;
  margin-right: -20px;
  background-color: #102242;
  color: white;
}
.farewellMessage {
  font-size: 32px;
  font-weight: bold;
  text-shadow: 2px 2px #000000;
  margin-bottom: 0;
}
.contactSection a {
  cursor: pointer;
}
.contactSection a:hover {
  color: blue;
}
.smallWidthProjects {
  display: none;
}
.smallWidthResumeButton {
  display: none;
}
section.aboutMeSection,
section.portfolioSection {
  margin-bottom: 150px;
}
/*section.portfolioSection .container {
  display: flexbox;
  flex-direction: column;
  justify-content: space-between;
}*/
article.background,
article.technologies {
  margin-bottom: 150px;
}
article.background > p {
  /*border: 1px solid black;*/
  border-radius: 15px;
  padding: 20px;
}
article.technologies > p {
  margin-bottom: 15px;
}
.technologyList > li {
  width: 200px;
  height: 200px;
}
.technologyList > li:nth-child(1) > img,
.technologyList > li:nth-child(2) > img,
.technologyList > li:nth-child(3) > img,
.technologyList > li:nth-child(4) > img,
.technologyList > li:nth-child(5) > img,
.technologyList > li:nth-child(6) > img,
.technologyList > li:nth-child(7) > img,
.technologyList > li:nth-child(9) > img,
.technologyList > li:nth-child(10) > img {
  width: 150px;
}
.technologyList > li:nth-child(8) > img {
  height: 150px;
}
.technologyList > li {
  line-height: 200px;
}
/*@media (max-width: 1039px) {
	.technologyList > li{
		width: 200px;
		height: 200px;
	}
	.technologyList > li:nth-child(1) > img,
	.technologyList > li:nth-child(2) > img,
	.technologyList > li:nth-child(3) > img,
	.technologyList > li:nth-child(4) > img,
	.technologyList > li:nth-child(5) > img,
	.technologyList > li:nth-child(6) > img,
	.technologyList > li:nth-child(7) > img,
	.technologyList > li:nth-child(9) > img,
	.technologyList > li:nth-child(10) > img{
		width: 150px;
	}
	.technologyList > li:nth-child(8) > img{
		height: 150px;
	}
	.technologyList > li{
		line-height: 200px;
	}
}*/
.modal-body iframe {
  width: 100%;
  height: 500px;
}
@media (max-width: 1109px) {
  .projectsContainer figure {
    flex-direction: column;
  }
  .projectsContainer figure img,
  .projectsContainer figcaption {
    margin-left: auto;
    margin-right: auto;
  }
}
/*@media (max-width: 1109px) {
  figcaption {
    border-radius: 5px;
    margin-left: 0px;
  }
}*/
@media (max-width: 991px) {
  #myModal .modal-dialog {
    width: 90%;
    margin: 0 auto;
  }
}
@media (max-width: 839px) {
  .technologyList > li {
    width: 150px;
    height: 150px;
  }
  .technologyList > li:nth-child(1) > img,
  .technologyList > li:nth-child(2) > img,
  .technologyList > li:nth-child(3) > img,
  .technologyList > li:nth-child(4) > img,
  .technologyList > li:nth-child(5) > img,
  .technologyList > li:nth-child(6) > img,
  .technologyList > li:nth-child(7) > img,
  .technologyList > li:nth-child(9) > img,
  .technologyList > li:nth-child(10) > img {
    width: 100px;
  }
  .technologyList > li:nth-child(8) > img {
    height: 100px;
  }
  .technologyList > li {
    line-height: 150px;
  }
}
@media (max-width: 814px) {
  .sectionHeader {
    text-indent: 0;
  }
}
@media (max-width: 774px) {
  .loader {
    left: 45%;
  }
}
@media (max-width: 751px) {
  .contactSection p {
    text-align: left;
  }
}

@media (max-width: 732px) {
  /*.portfolioSection .container,
  .carouselPrevious,
  .carouselNext {
    display: none;
  }*/
  #portfolio > .projectsContainer {
    display: none;
  }
  .smallWidthProjects {
    display: block;
    text-align: left;
  }
  .smallWidthProjects > figure > header {
    font-size: 28px;
  }
  .smallWidthsLinks {
    float: right;
    line-height: 44px;
  }
  .smallWidthsLinks > a:nth-of-type(1):hover {
    color: blue;
  }
  .smallWidthsLinks > a:nth-of-type(2) {
    vertical-align: middle;
  }
  .smallWidthProjects > figure:nth-of-type(1),
  .smallWidthProjects > figure:nth-of-type(2) {
    margin-bottom: 20px;
  }
  .smallWidthProjects > figure > figcaption {
    color: black;
    background-color: transparent;
    width: 100%;
  }
}
@media (max-width: 710px) {
  .loader {
    left: 40%;
  }
}
@media (max-width: 649px) {
  .resumeButton {
    display: none;
  }
  .resumeButton.smallWidthResumeButton {
    display: inline-block;
  }
  .resumeButton.smallWidthResumeButton > a {
    color: black;
  }
}
@media (max-width: 639px) {
  .farewellMessage {
    padding-top: 68px;
  }
  .farewellMessage > span {
    display: block;
    line-height: 32px;
  }
  .technologyList > li {
    width: 100px;
    height: 100px;
  }
  .technologyList > li:nth-child(1) > img,
  .technologyList > li:nth-child(2) > img,
  .technologyList > li:nth-child(3) > img,
  .technologyList > li:nth-child(4) > img,
  .technologyList > li:nth-child(5) > img,
  .technologyList > li:nth-child(6) > img,
  .technologyList > li:nth-child(7) > img,
  .technologyList > li:nth-child(9) > img,
  .technologyList > li:nth-child(10) > img {
    width: 50px;
  }
  .technologyList > li:nth-child(8) > img {
    height: 50px;
  }
  .technologyList > li {
    line-height: 100px;
  }
}
@media (max-width: 619px) {
  .technologies p {
    text-align: left;
  }
}
/*@media (max-width: 554px) {

}*/
@media (max-width: 519px) {
  .loader {
    left: 35%;
  }
}
@media (max-width: 447px) {
  .farewellMessage {
    padding-top: 53px;
  }
}
@media (max-width: 439px) {
  .technologyList > li {
    width: 75px;
    height: 75px;
  }
  /*.technologyList > li:nth-child(1) > img,
	.technologyList > li:nth-child(2) > img,
	.technologyList > li:nth-child(3) > img,
	.technologyList > li:nth-child(4) > img,
	.technologyList > li:nth-child(5) > img,
	.technologyList > li:nth-child(6) > img,
	.technologyList > li:nth-child(7) > img,
	.technologyList > li:nth-child(9) > img,
	.technologyList > li:nth-child(10) > img{
		width: 100px;
	}
	.technologyList > li:nth-child(8) > img{
		height: 100px;
	}*/
  .technologyList > li {
    line-height: 75px;
  }
}
@media (max-width: 414px) {
  .navListItem {
    font-size: 22px;
    min-width: 0;
    padding-left: 2px;
    padding-right: 2px;
  }
}
